# .gitignore in the backend directory

# Python-specific
*.pyc
__pycache__/

# Django-specific
*.pyo
*.pyc
*.pyd

# macOS-specific
.DS_Store

inputted_data.csv
new_unclean.csv
new_clean.csv
heatmap*.png
trend_explanation.html
sentiment_explanation.html

# Other
*.log
kaggle.json
