.signin_container {
    max-width: 40vh;  /* You may adjust this value */
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
}

.button {
    border-radius: 7.366px;
    background: radial-gradient(2640.68% 277.52% at 114.84% 369.84%, #D9D9D9 6.77%, rgba(26, 133, 193, 0.94) 50%);
    max-width: 40vh;  /* You may adjust this value */
    width: 100%;
    border: none;
    color: white;
    margin-top: 2em;
    border: 1px solid white;
}

.signin_label {
    border-radius: 10.199px;
    border: 2.266px solid #FFF;
    background: rgba(217, 217, 217, 0.05);
    width: 100%;  /* Set width to 100% */
    margin-bottom: 1em;
    outline: none;
    color: white !important;
}

.signin_label::placeholder {
    color: white;
  }
  
  .error_message {
    position: relative; // Use absolute positioning
    top: 0%; // Position at the top of the container
    left: 0;
    right: 0;
    padding-bottom: 1em;
    color: #ff6161; // Red color for error visibility, adjust as needed
    margin-top: 0em; // Margin on top to separate it from the input fields
    text-align: center; // Center the text
    font-size: 0.8em; // Adjust font size as needed
  }

