.media {
    background-color: #E7E7E7;
    margin: 1em;
    border-radius: 0.5em;
}

.mediaText {
    margin:1em;
}

.usernameText {
    margin-left: 1em;
    font-weight: bold;
    
}

.readMoreButton {
    color: blue;
    background-color: transparent;
    border-width: 0;
}

.mediaTitle {
    margin-left: 1em;
    padding-top: 0.5em;
}

.mediaTime {
    margin-left:1em;
    padding-bottom: 0.5em;
}