.top_container {
  color: #FFF;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.wrapper {
  padding: 2em 2em 0 2em;
}

.main_container {
  width: 100%;
  display: flex;
  padding-top: 2em;
}

.left_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.right_container {
  background-color: white;
  border-radius: 10px;
}

.container {
  border-radius: 9.778px;
  background: #FFF;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
}

.chartContainer {
border-radius: 10px;
background-color: #ffffff;
overflow: hidden;
margin-right: 1em;
margin-top: 1em;
}



.tst{
  display: flex;
  flex-direction: row;
}

.cc {
  border-radius: 9.778px;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 20vh;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#title_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  color: black !important;
  

  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_container {
  color: black !important;
}

.sentiment_container {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}

.market_container {
  display: flex;
  flex-direction: row;
}

.info_row {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.col_row {
  display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
}


#title_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  color: black !important;
}

.arrow {
  width: 4vh;
}

.arrow_small {
  width: 4vh;
}

.neutral {
  width: 4vh;
}


.padding {
  
  padding: 0.25em 0.25em 0.25em 0.25em;
}


.render_list > :nth-child(2n-1) > div {
  border-radius: 9.778px;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 20vh;
  height: 100%;
  background-color: #ffffff;
  }
  
  
.render_list > :nth-child(2n) > div {
  border-radius: 9.778px;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 20vh;
  height: 100%;
  background-color: #d9d8d8;
  }
  